
.name{
    padding: 20px;
    background: teal;
    text-align: center;
    font-size: 50px;

}
.links{
    padding: 20px;
    background: teal;
    text-align: center;
}
.blockz{
    background: lightgray;
    margin: 10px;
    border: 2px solid black;
    margin: 15px auto;
    align-items: center;
    justify-content: space-around;
}
.img1{
    align-items: center;
    justify-content: space-around;
    margin: 15px auto;

}

.foot{
    padding: 20px;
    background: teal;
    text-align: center;
    font-size: 15px;
}

a:link {
    color: #FBEEC1;
    text-decoration: none;
  }
  
a:visited {
    color: #FBEEC1;
    text-decoration: none;
  }
  
a:hover {
    color: black;
    text-decoration: none;
  }
  
a:active {
    color: g#FBEEC1;
    text-decoration: none;
  }

    .imgtxt {
        width: 50%;   
        margin-left: 25%;
        margin-right: 25%;
        float: middle;
        position: relative;
        text-align: center;
        margin-bottom: 10px;
    }
    .imgtxt img {
        max-width: 100%;
    }
    .img-container {
        display: inline-block;
        position: relative;
    }
    .positioning{
        position: absolute;
        left: 15px;
        top: 15px;
        background-color: #DAAD86;
        color: white;
        padding: 10%;
        font-size: 3.5vw;
        line-height: 10px;


}
